@inherits TowerPortal.Views.Shared.PortalView
@using TowerPortal.Models.Chat
@{
    ViewData["Title"] = "Chat Announcements";
}

<div class="announcements-page-container">
    <div class="player-chat-container">
        @Html.ActionLink(linkText: "View player specific bans", actionName: "Player", controllerName: "Chat", routeValues: new {}, htmlAttributes: new {})
    </div>
    <div class="player-chat-container">
        @Html.ActionLink(linkText: "View reports", actionName: "Reports", controllerName: "Chat", routeValues: new {}, htmlAttributes: new {})
    </div>
    
    <h2>@ViewData["Title"]</h2>
    
    <div class="error-container">
        <h4 style="color: @(WasSuccessful ? "darkgreen" : "red")">@(StatusMessage)</h4>
    </div>
    
    <div class=send-announcements-container>
        <form class="announcement-info" method="post" asp-controller="Chat" asp-action="Announcements">
            <label for="newText" class="text">Text*</label>
            <textarea id="newText" class="text" type="text" name="text" placeholder="Announcement text" rows="1" disabled="@(!Permissions.Chat.Edit)" required></textarea>
            <label for="newDuration" class="duration">Duration In Seconds (overrides expiration)</label>
            <input id="newDuration" class="duration" type="number" name="duration" placeholder="3600" disabled="@(!Permissions.Chat.Edit)"/>
            <label for="newExpiration" class="expiration">Expiration (UTC)</label>
            <input id="newExpiration" class="expiration" type="datetime-local" name="expiration" disabled="@(!Permissions.Chat.Edit)"/>
            <label for="newVisibleFrom" class="visibleFrom">Visible From (UTC)</label>
            <input id="newVisibleFrom" class="visibleFrom" type="datetime-local" name="visibleFrom" disabled="@(!Permissions.Chat.Edit)"/>
            <label for="newLanguage" class="language">Language</label>
            <input id="newLanguage" class="language" type="number" name="language" placeholder="en-US" disabled value="en-US"/>
            <button id="sendAnnouncementButton" class="sendAnnouncementButton" disabled="@(!Permissions.Chat.Edit)" type="submit">Send</button>
        </form>
    </div>
    
    <div class="announcements-container">
        <h3>Chat Announcements</h3>
        <table id="chatAnnouncements" class="chat-announcements">
            <tr>
                <td class="id">Id</td>
                <td class="aid">Aid</td>
                <td class="text">Text</td>
                <td class="timestamp">Timestamp</td>
                <td class="expiration">Expiration</td>
                <td class="type">Type</td>
                <td class="announcement-expire">Expire</td>
            </tr>
            @foreach (Announcement announcement in (List<Announcement>) ViewData["Announcements"])
            {
                <tr>
                    <td>@announcement.Id</td>
                    <td>@announcement.Aid</td>
                    <td>@announcement.Text</td>
                    <td>@DateTimeOffset.FromUnixTimeSeconds(@announcement.Timestamp)</td>
                    <td>@DateTimeOffset.FromUnixTimeSeconds(@announcement.Expiration)</td>
                    <td>@announcement.Type</td>
                    <td>
                        <form class="chat-announcement-form" method="post" asp-controller="Chat" asp-action="AnnouncementsExpire">
                            <div class="messageId invisible">
                                <input id="messageId" class="messageId" type="text" name="messageId" value="@announcement.Id)">
                            </div>
                            <button id="expireButton" class="expireButton" disabled="@(!Permissions.Chat.Edit)" type="submit">Expire</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>