@inherits TowerPortal.Views.Shared.PortalView
@using Rumble.Platform.Common.Utilities
@{
    ViewData["Title"] = "Chat Reports";
}

<div class="announcements-page-container">
    <div class="player-chat-container">
        @Html.ActionLink(linkText: "View player specific bans", actionName: "Player", controllerName: "Chat", routeValues: new {}, htmlAttributes: new {})
    </div>
    <div class="player-chat-container">
        @Html.ActionLink(linkText: "View announcements", actionName: "Announcements", controllerName: "Chat", routeValues: new {}, htmlAttributes: new {})
    </div>
    
    <h2>@ViewData["Title"]</h2>
    
    <div class="error-container">
        <h4 style="color: @(WasSuccessful ? "red" : "darkgreen")">@(StatusMessage)</h4>
    </div>
    
    <div class="chat-reports-container">
        <h3>Chat Reports</h3>
        <table id="chatReports" class="chat-reports">
            <tr>
                <td class="id">Id</td>
                <td class="mid">Message Id</td>
                <td class="logs">Logs</td>
                <td class="players">Players</td>
                <td class="reported">Reported</td>
                <td class="reporters">Reporters</td>
                <td class="status">Status</td>
                <td class="time">Time</td>
            </tr>
            @foreach (ChatReport data in (List<ChatReport>) ViewData["ChatReports"])
            {
                <tr>
                    <td>@data.Id</td>
                    <td>@data.MessageId</td>
                    <td>
                        @foreach (GenericData log in @data.Log)
                        {
                            <p>@log.JSON</p>
                        }
                    </td>
                    <td>
                        @foreach (GenericData players in @data.Players)
                        {
                            <p>@players.JSON</p>
                        }
                    </td>
                    <td>@data.Reported.JSON</td>
                    <td>
                        @foreach (GenericData reporters in @data.Reporters)
                        {
                            <p>@reporters.JSON</p>
                        }
                    </td>
                    <td>@data.Status</td>
                    <td>@DateTimeOffset.FromUnixTimeSeconds(@data.Time)</td>
                </tr>
            }
        </table>
    </div>
</div>