@inherits TowerPortal.Views.Shared.PortalView
@{
    ViewData["Title"] = "Ban players";
}

<script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('input[name="action"]').change(function () {
            let val = $(this).val();
            let unbanDiv = $('.unbanTime');
            if (val == 'ban') {
                unbanDiv.show();    
            } else {
                unbanDiv.hide();
            }
        })
    })
</script>

<div class="token-page-container">
    <h2>@ViewData["Title"]</h2>
    
    <div class="error-container">
        <h4 style="color: @(WasSuccessful ? "darkgreen" : "red")">@(StatusMessage)</h4>
    </div>

    <div class="ban-container">
        <form class="ban-form" method="post" asp-controller="Token" asp-action="Ban">
            <div class="playerIds">
                <label for="playerIds" class="playerIds">Player IDs* (separated by "," or "|")</label>
                <input id="playerIds" class="playerIds" type="text" name="playerIds" disabled="@(!Permissions.Token.Edit)" placeholder="ex: 6140bd998caf79f468e6f8a6, 60e7ea01907cf6e93a7578c2" required>
            </div>
            <div class="actionBan">
                <input id="actionBan" class="actionBan" type="radio" name="action" disabled="@(!Permissions.Token.Edit)" value="ban" checked>
                <label for="actionBan" class="actionBan">Ban</label>
            </div>
            <div class="unbanTime">
                <label for="unbanTime" class="unbanTime">Unban Date (UTC) (leave blank if permanent)</label>
                <input id="unbanTime" class="unbanTime" type="date" name="unbanTime" disabled="@(!Permissions.Token.Edit)">
            </div>
            <div class="actionUnban">
                <input id="actionUnban" class="actionUnban" type="radio" name="action" disabled="@(!Permissions.Token.Edit)" value="unban">
                <label for="actionUnban" class="actionUnban">Unban</label>
            </div>
            <div class="actionLogout">
                <input id="actionLogout" class="actionLogout" type="radio" name="action" disabled="@(!Permissions.Token.Edit)" value="logout">
                <label for="actionLogout" class="actionLogout">Logout</label>
            </div>
            <div class="note">
                <label for="note" class="note">Internal Note</label>
                <input id="note" class="note" type="text" name="note" disabled="@(!Permissions.Token.Edit)" placeholder="Note">
            </div>
            <button id="banButton" class="banButton" disabled="@(!Permissions.Token.Edit)" type="submit">Confirm</button>
        </form>
    </div>
    
    @if (Permissions.Portal.SuperUser)
    {
        <div class="log-container">
            @if (ViewData["TokenLogs"] != null)
            {
                <table id="tokenLogs" class="log-table">
                    <tr>
                        <td id="actorLog">Actor</td>
                        <td id="actionLog">Action</td>
                        <td id="unbanTimeLog">Unban Time</td>
                        <td id="timestampLog">Timestamp</td>
                        <td id="targetLog">Target</td>
                        <td id="noteLog">Note</td>
                    </tr>
                    @foreach (TokenLog data in (List<TokenLog>) ViewData["TokenLogs"])
                    {
                        <tr>
                            <td>@data.Actor</td>
                            <td>@data.Action</td>
                            @if (@data.UnbanTime != null)
                            {
                                <td>@DateTimeOffset.FromUnixTimeSeconds(@data.UnbanTime ?? default(long))</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@DateTimeOffset.FromUnixTimeSeconds(@data.Timestamp)</td>
                            <td>@data.Target</td>
                            <td>@data.Note</td>
                        </tr>
                    }
                </table>
            }
        </div>
    }
</div>