@{
    ViewData["Title"] = "Global Messages";
}
<h2>@ViewData["Title"]</h2>


<h3>Active Global Messages</h3>
<table>
    <tr>
        <td>Id</td>
        <td>Subject</td>
        <td>Body</td>
        <td>Attachments</td>
        <td>Visible From (UTC)</td>
        <td>Expiration (UTC)</td>
        <td>Icon</td>
        <td>Banner</td>
        <td>Internal Note</td>
        <td>For Accounts Before (UTC)</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    @foreach (GlobalMessage data in (List<GlobalMessage>)ViewData["ActiveGlobalMessages"])
    {
        <tr>
            <td>@data.Id</td>
            <td>@data.Subject</td>
            <td>@data.Body</td>
            <td>@data.Attachments</td>
            <td>@data.VisibleFrom</td>
            <td>@data.Expiration</td>
            <td>@data.Icon</td>
            <td>@data.Banner</td>
            <td>@data.InternalNote</td>
            <td>@data.ForAccountsBefore</td>
            <td></td>
            <td></td>
        </tr>
    }
</table>

<h3>Expired Global Messages</h3>
<table>
    <tr>
        <td>Id</td>
        <td>Subject</td>
        <td>Body</td>
        <td>Attachments</td>
        <td>Visible From (UTC)</td>
        <td>Expiration (UTC)</td>
        <td>Icon</td>
        <td>Banner</td>
        <td>Internal Note</td>
        <td>For Accounts Before (UTC)</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    
    @foreach (GlobalMessage data in (List<GlobalMessage>)ViewData["ExpiredGlobalMessages"]) // apparently foreach is bad in views, think about changing to html.displayfor with viewmodels
    {
        <tr>
            <td>@data.Id</td>
            <td>@data.Subject</td>
            <td>@data.Body</td>
            <td>
                @foreach (Attachment attachment in data.Attachments)
                {
                    <p>{"type": @attachment.Type, "rewardId": @attachment.RewardId, "quantity": @attachment.Quantity}</p>
                }
            </td>
            <td>@data.VisibleFrom</td>
            <td>@data.Expiration</td>
            <td>@data.Icon</td>
            <td>@data.Banner</td>
            <td>@data.InternalNote</td>
            <td>@data.ForAccountsBefore</td>
            <td></td>
            <td></td>
        </tr>
    }
</table>