@inherits TowerPortal.Views.Shared.PortalView
@{
    ViewData["Title"] = "Global Messages";
}

<div class="mailbox-page-container">
    <div class="view-inbox-container">
        @Html.ActionLink(linkText: "View player inbox history", actionName: "Inbox", controllerName: "Mailbox", routeValues: new {}, htmlAttributes: new {})
    </div>
    <div class="toggle-container">
        @Html.ActionLink(linkText: "Direct Messages", actionName: "Group", controllerName: "Mailbox", routeValues: new {}, htmlAttributes: new {})
    </div>

    <h2>@ViewData["Title"]</h2>
    <p>@TempData["VisibleOverlay"]</p>

    <div class="error-container">
        <h4 style="color: @(WasSuccessful ? "red" : "darkgreen")">@(StatusMessage)</h4>
    </div>

    <div class="global-container">
        @if (TempData["VisibleOverlay"] != null)
        {
            <div class="overlay">
                @if (TempData["VisibleEdit"] != null)
                {
                    <div class="edit-container">
                        <h1>Edit Message</h1>
                        <p>Leave field empty if no change.</p>
                        <p>Note: incorrectly formatted entries are ignored.</p>
                        <form class="message-info" method="post" asp-controller="Mailbox" asp-action="Edit">
                            <input id="editId" class="invisible id" name="messageId" value="@TempData["EditId"]"/>
                            <label for="editSubject" class="subject">Subject</label>
                            <input id="editSubject" class="subject" type="text" name="subject" placeholder="Subject" maxlength="29">
                            <br/>
                            <label for="editBody" class="body">Body</label>
                            <textarea id="editBody" class="body" type="text" name="body" placeholder="Body" rows="3"></textarea>
                            <br/>
                            <label for="editAttachments" class="attachments">Attachments (separated by "," or "|")</label>
                            <input id="editAttachments" class="attachments" type="text" name="attachments" placeholder="ex: currency soft_currency 1500 | hero warlord">
                            <br/>
                            <label for="editVisibleFrom" class="visibleFrom">Visible From (UTC)</label>
                            <input id="editVisibleFrom" class="visibleFrom" type="datetime-local" name="visibleFrom" placeholder="2022-01-01T00:00">
                            <br/>
                            <label for="editExpiration" class="expiration">Expiration (UTC)</label>
                            <input id="editExpiration" class="expiration" type="datetime-local" name="expiration" placeholder="2022-01-01T00:00">
                            <br/>
                            <label for="editIcon" class="icon">Icon</label>
                            <select id="editIcon" class="icon" name="icon" placeholder="Icon">
                                <option value="">default (empty)</option>
                                <option value="atlas-icons[pvp]">atlas-icons[pvp]</option>
                            </select>
                            <br/>
                            <label for="editBanner" class="banner">Banner</label>
                            <select id="editBanner" class="banner" name="banner" placeholder="Banner">
                                <option value="">default (empty)</option>
                                <option value="atlas-events[gold_blitz]">atlas-events[gold_blitz]</option>
                                <option value="atlas-dialog_banners[star_rewards_dialog_banner]">atlas-dialog_banners[star_rewards_dialog_banner]</option>
                            </select>
                            <br/>
                            <label for="editStatus" class="status">Reset Status</label>
                            <input id="editStatus" class="status" type="checkbox" name="status">
                            <br/>
                            <label for="editForAccountsBefore" class="forAccountsBefore">For Accounts Before</label>
                            <input id="editForAccountsBefore" class="forAccountsBefore" type="datetime-local" name="forAccountsBefore" placeholder="2022-01-01T00:00">
                            <br/>
                            <label for="editInternalNote" class="internalNote">Internal Note</label>
                            <input id="editInternalNote" class="internalNote" type="text" name="internalNote" placeholder="Internal Note">
                            <button class="edit-confirm" disabled="@(!Permissions.Mail.Edit)" type="submit">Confirm</button>
                            @Html.ActionLink(linkText: "Cancel", actionName: "HideOverlay", controllerName: "Mailbox", routeValues: new {}, htmlAttributes: new {})
                        </form>
                    </div>
                }
                @if (TempData["VisibleDelete"] != null)
                {
                    <div class="delete-container">
                        <h1>Delete Message</h1>
                        <p>Are you sure you would like to delete this message?</p>
                        <form class="delete-form" method="post" asp-controller="Mailbox" asp-action="Delete">
                            <input for="deleteId" class="invisible id" name="id" value="@TempData["DeleteId"]">
                            <button class="delete-confirm" disabled="@(!Permissions.Mail.Edit)" type="submit">Confirm</button>
                        </form>
                        @Html.ActionLink(linkText: "Cancel", actionName: "HideOverlay", controllerName: "Mailbox", routeValues: new {}, htmlAttributes: new {})
                    </div>
                }
            </div>
        }
    
        <div class="send-global-container">
            <form class="message-info" method="post" asp-controller="Mailbox" asp-action="Global">
                <label for="newSubject" class="subject">Subject*</label>
                <input id="newSubject" class="subject" type="text" name="subject" placeholder="Subject" maxlength="29" disabled="@(!Permissions.Mail.Edit)" required>
                <br/>
                <label for="newBody" class="body">Body*</label>
                <textarea id="newBody" class="body" type="text" name="body" placeholder="Body" rows="3" disabled="@(!Permissions.Mail.Edit)" required></textarea>
                <br/>
                <label for="newAttachments" class="attachments">Attachments (separated by "," or "|")</label>
                <input id="newAttachments" class="attachments" type="text" name="attachments" disabled="@(!Permissions.Mail.Edit)" placeholder="ex: currency soft_currency 1500 | hero warlord">
                <br/>
                <label for="newVisibleFrom" class="visibleFrom">Visible From (UTC)*</label>
                <input id="newVisibleFrom" class="visibleFrom" name="visibleFrom" type="datetime-local" disabled="@(!Permissions.Mail.Edit)" value="@ViewData["Today"]" required>
                <br/>
                <label for="newExpiration" class="expiration">Expiration (UTC)*</label>
                <input id="newExpiration" class="expiration" name="expiration" type="datetime-local" disabled="@(!Permissions.Mail.Edit)" value="@ViewData["Week"]" required>
                <br/>
                <label for="newIcon" class="icon">Icon</label>
                <select id="newIcon" class="icon" name="icon" disabled="@(!Permissions.Mail.Edit)" placeholder="Icon">
                    <option value="">default (empty)</option>
                    <option value="atlas-icons[pvp]">atlas-icons[pvp]</option>
                </select>
                <br/>
                <label for="newBanner" class="banner">Banner</label>
                <select id="newBanner" class="banner" name="banner" disabled="@(!Permissions.Mail.Edit)" placeholder="Banner">
                    <option value="">default (empty)</option>
                    <option value="atlas-events[gold_blitz]">atlas-events[gold_blitz]</option>
                    <option value="atlas-dialog_banners[star_rewards_dialog_banner]">atlas-dialog_banners[star_rewards_dialog_banner]</option>
                </select>
                <br/>
                <label for="newForAccountsBefore" class="forAccountsBefore">For Accounts Before (UTC)</label>
                <input id="newForAccountsBefore" class="forAccountsBefore" name="forAccountsBefore" type="datetime-local" disabled="@(!Permissions.Mail.Edit)">
                <br/>
                <label for="newInternalNote" class="internalNote">Internal Note</label>
                <input id="newInternalNote" class="internalNote" type="text" name="internalNote" disabled="@(!Permissions.Mail.Edit)" placeholder="Internal Note">
                <br/>
                <button id="sendGlobalMessageButton" disabled="@(!Permissions.Mail.Edit)" type="submit">Send</button>
            </form>
        </div>
    
        <div class="active-globals-container">
            <h3>Active Global Messages</h3>
            <table id="activeGlobals" class="globalMessages">
                <tr>
                    <td class="id">Id</td>
                    <td class="subject">Subject</td>
                    <td class="body">Body</td>
                    <td class="attachments">Attachments</td>
                    <td class="visibleFrom">Visible From (UTC)</td>
                    <td class="expiration">Expiration (UTC)</td>
                    <td class="icon">Icon</td>
                    <td class="banner">Banner</td>
                    <td class="internalNote">Internal Note</td>
                    <td class="forAccountsBefore">For Accounts Before (UTC)</td>
                    <td class="edit">Edit</td>
                    <td class="delete">Delete</td>
                </tr>
                @foreach (GlobalMessage data in (List<GlobalMessage>) ViewData["ActiveGlobalMessages"])
                {
                    <tr>
                        <td>@data.Id</td>
                        <td>@data.Subject</td>
                        <td>@data.Body</td>
                        <td>
                            @foreach (Attachment attachment in data.Attachments)
                            {
                                <p>{"type": @attachment.Type, "rewardId": @attachment.RewardId, "quantity": @attachment.Quantity}</p>
                            }
                        </td>
                        <td>@DateTimeOffset.FromUnixTimeSeconds(@data.VisibleFrom)</td>
                        <td>@DateTimeOffset.FromUnixTimeSeconds(@data.Expiration)</td>
                        <td>@data.Icon</td>
                        <td>@data.Banner</td>
                        <td>@data.InternalNote</td>
                        @if (@data.ForAccountsBefore != null)
                        {
                            <td>@DateTimeOffset.FromUnixTimeSeconds(@data.ForAccountsBefore ?? default(long))</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>
                            @if (Permissions.Mail.Edit)
                            {
                                @Html.ActionLink(linkText: "Edit", actionName: "ShowEditOverlay", controllerName: "Mailbox", routeValues: new
                                {
                                    id = data.Id,
                                    subject = data.Subject,
                                    body = data.Body,
                                    attachments = data.Attachments,
                                    visibleFrom = data.VisibleFrom,
                                    expiration = data.Expiration,
                                    internalNote = data.InternalNote,
                                    forAccountsBefore = data.ForAccountsBefore
                                }, htmlAttributes: new
                                {
                                    id = data.Id,
                                    subject = data.Subject,
                                    body = data.Body,
                                    attachments = data.Attachments,
                                    visibleFrom = data.VisibleFrom,
                                    expiration = data.Expiration,
                                    internalNote = data.InternalNote,
                                    forAccountsBefore = data.ForAccountsBefore
                                })
                            }
                            else
                            {
                                <p class="disabled-link">Edit</p>
                            }
                        </td>
                        <td>
                            @if (Permissions.Mail.Edit)
                            {
                                @Html.ActionLink(linkText: "Delete", actionName: "ShowDeleteOverlay", controllerName: "Mailbox", routeValues: new
                                {
                                    id = data.Id
                                }, htmlAttributes: new
                                {
                                    id = data.Id
                                })
                            }
                            else
                            {
                                <p class="disabled-link">Delete</p>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    
        <div class="expired-globals-container">
            <h3>Expired Global Messages</h3>
            <table id="expiredGlobals" class="globalMessages">
                <tr>
                    <td class="id">Id</td>
                    <td class="subject">Subject</td>
                    <td class="body">Body</td>
                    <td class="attachments">Attachments</td>
                    <td class="visibleFrom">Visible From (UTC)</td>
                    <td class="expiration">Expiration (UTC)</td>
                    <td class="icon">Icon</td>
                    <td class="banner">Banner</td>
                    <td class="internalNote">Internal Note</td>
                    <td class="forAccountsBefore">For Accounts Before (UTC)</td>
                    <td class="edit">Edit</td>
                    <td class="delete">Expired</td>
                </tr>
                @foreach (GlobalMessage data in (List<GlobalMessage>) ViewData["ExpiredGlobalMessages"]) // apparently foreach is bad in views, think about changing to html.displayfor with viewmodels
                {
                    <tr>
                        <td>@data.Id</td>
                        <td>@data.Subject</td>
                        <td>@data.Body</td>
                        <td>
                            @foreach (Attachment attachment in data.Attachments)
                            {
                                <p>{"type": @attachment.Type, "rewardId": @attachment.RewardId, "quantity": @attachment.Quantity}</p>
                            }
                        </td>
                        <td>@DateTimeOffset.FromUnixTimeSeconds(@data.VisibleFrom)</td>
                        <td>@DateTimeOffset.FromUnixTimeSeconds(@data.Expiration)</td>
                        <td>@data.Icon</td>
                        <td>@data.Banner</td>
                        <td>@data.InternalNote</td>
                        @if (@data.ForAccountsBefore != null)
                        {
                            <td>@DateTimeOffset.FromUnixTimeSeconds(@data.ForAccountsBefore ?? default(long))</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>
                            @if (Permissions.Mail.Edit)
                            {
                                @Html.ActionLink(linkText: "Edit", actionName: "ShowEditOverlay", controllerName: "Mailbox", routeValues: new
                                {
                                    id = data.Id,
                                    subject = data.Subject,
                                    body = data.Body,
                                    attachments = data.Attachments,
                                    visibleFrom = data.VisibleFrom,
                                    expiration = data.Expiration,
                                    internalNote = data.InternalNote,
                                    forAccountsBefore = data.ForAccountsBefore
                                }, htmlAttributes: new
                                {
                                    id = data.Id,
                                    subject = data.Subject,
                                    body = data.Body,
                                    attachments = data.Attachments,
                                    visibleFrom = data.VisibleFrom,
                                    expiration = data.Expiration,
                                    internalNote = data.InternalNote,
                                    forAccountsBefore = data.ForAccountsBefore
                                })
                            }
                            else
                            {
                                <p class="disabled-link">Edit</p>
                            }
                        </td>
                        <td>
                            True
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>