@{
    ViewData["Title"] = "Global Messages";
}

@Html.ActionLink(linkText: "Group", actionName: "Group", controllerName: "Mailbox", routeValues: new { }, htmlAttributes: new { })
<br />

<h2>@ViewData["Title"]</h2>

<p>@ViewData["Success"]</p>

<form method="post" asp-controller="Mailbox" asp-action="Global">
    <label for="newSubject" class="subject">Subject*</label>
    <input id="newSubject" class="subject" type="text" name="subject" placeholder="Subject" maxlength="29" required>
    <br />
    <label for="newBody" class="body">Body*</label>
    <textarea id="newBody" class="body" type="text" name="body" placeholder="Body" rows="3" required></textarea>
    <br />
    <label for="newAttachments" class="attachments">Attachments (separated by "," or "|")</label>
    <input id="newAttachments" class="attachments" type="text" name="attachments" placeholder="ex: currency soft_currency 1500 | hero warlord">
    <br />
    <label for="newVisibleFrom" class="visibleFrom">Visible From (UTC)*</label>
    <input id="newVisibleFrom" class="visibleFrom" name="visibleFrom" type="datetime-local" required>
    <br />
    <label for="newExpiration" class="expiration">Expiration (UTC)*</label>
    <input id="newExpiration" class="expiration" name="expiration" type="datetime-local" required>
    <br />
    <label for="newIcon" class="icon">Icon</label>
    <select id="newIcon" class="icon" name="icon" placeholder="Icon">
        <option value="">default (empty)</option>
        <option value="atlas-icons[pvp]">atlas-icons[pvp]</option>
    </select>
    <br />
    <label for="newBanner" class="banner">Banner</label>
    <select id="newBanner" class="banner" name="banner" placeholder="Banner">
        <option value="">default (empty)</option>
        <option value="atlas-events[gold_blitz]">atlas-events[gold_blitz]</option>
        <option value="atlas-dialog_banners[star_rewards_dialog_banner]">atlas-dialog_banners[star_rewards_dialog_banner]</option>
    </select>
    <br />
    <label for="newForAccountsBefore" class="forAccountsBefore">For Accounts Before (UTC)</label>
    <input id="newForAccountsBefore" class="forAccountsBefore" name="forAccountsBefore" type="datetime-local">
    <br />
    <label for="newInternalNote" class="internalNote">Internal Note</label>
    <input id="newInternalNote" class="internalNote" type="text" name="internalNote" placeholder="Internal Note">
    <br />
    <button id="sendGlobalMessageButton" type="submit">Send</button>
</form>

<br />

<p>@ViewData["Exist"]</p>

<h3>Active Global Messages</h3>
<table>
    <tr>
        <td>Id</td>
        <td>Subject</td>
        <td>Body</td>
        <td>Attachments</td>
        <td>Visible From (UTC)</td>
        <td>Expiration (UTC)</td>
        <td>Icon</td>
        <td>Banner</td>
        <td>Internal Note</td>
        <td>For Accounts Before (UTC)</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    @foreach (GlobalMessage data in (List<GlobalMessage>)ViewData["ActiveGlobalMessages"])
    {
        <tr>
            <td>@data.Id</td>
            <td>@data.Subject</td>
            <td>@data.Body</td>
            <td>
                @foreach (Attachment attachment in data.Attachments)
                {
                    <p>{"type": @attachment.Type, "rewardId": @attachment.RewardId, "quantity": @attachment.Quantity}</p>
                }
            </td>
            <td>@data.VisibleFrom</td>
            <td>@data.Expiration</td>
            <td>@data.Icon</td>
            <td>@data.Banner</td>
            <td>@data.InternalNote</td>
            <td>@data.ForAccountsBefore</td>
            <td></td>
            <td></td>
        </tr>
    }
</table>

<h3>Expired Global Messages</h3>
<table>
    <tr>
        <td>Id</td>
        <td>Subject</td>
        <td>Body</td>
        <td>Attachments</td>
        <td>Visible From (UTC)</td>
        <td>Expiration (UTC)</td>
        <td>Icon</td>
        <td>Banner</td>
        <td>Internal Note</td>
        <td>For Accounts Before (UTC)</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    
    @foreach (GlobalMessage data in (List<GlobalMessage>)ViewData["ExpiredGlobalMessages"]) // apparently foreach is bad in views, think about changing to html.displayfor with viewmodels
    {
        <tr>
            <td>@data.Id</td>
            <td>@data.Subject</td>
            <td>@data.Body</td>
            <td>
                @foreach (Attachment attachment in data.Attachments)
                {
                    <p>{"type": @attachment.Type, "rewardId": @attachment.RewardId, "quantity": @attachment.Quantity}</p>
                }
            </td>
            <td>@data.VisibleFrom</td>
            <td>@data.Expiration</td>
            <td>@data.Icon</td>
            <td>@data.Banner</td>
            <td>@data.InternalNote</td>
            <td>@data.ForAccountsBefore</td>
            <td></td>
            <td></td>
        </tr>
    }
</table>