@inherits TowerPortal.Views.Shared.PortalView
@{
    ViewData["Title"] = "Group Messages";
}

<div class="mailbox-page-container">
    <div class="view-inbox-container">
        @Html.ActionLink(linkText: "View player inbox history", actionName: "Inbox", controllerName: "Mailbox", routeValues: new {}, htmlAttributes: new {})
    </div>
    <div class="toggle-container">
        @Html.ActionLink(linkText: "Global Messages", actionName: "Global", controllerName: "Mailbox", routeValues: new {}, htmlAttributes: new {})
    </div>

    <h2>@ViewData["Title"]</h2>
    
    <div class="error-container">
        <h4 style="color: @(WasSuccessful ? "red" : "darkgreen")">@(StatusMessage)</h4>
    </div>

    <div class="group-container">
        <div class="send-group-container">
            <form class="message-info" method="post" asp-controller="Mailbox" asp-action="Group">
                <label for="groupPlayerIds" class="playerIds">Player IDs* (separated by "," or "|")</label>
                <input id="groupPlayerIds" class="playerIds" type="text" name="playerIds" disabled="@(!Permissions.Mail.Edit)" placeholder="ex: 6140bd998caf79f468e6f8a6, 60e7ea01907cf6e93a7578c2" required>
                <br/>
                <label for="groupSubject" class="groupSubject">Subject*</label>
                <input id="groupSubject" class="groupSubject" type="text" name="subject" disabled="@(!Permissions.Mail.Edit)" placeholder="Subject" maxlength="29" required>
                <br/>
                <label for="groupBody" class="groupBody">Body*</label>
                <textarea id="groupBody" class="groupBody" type="text" name="body" disabled="@(!Permissions.Mail.Edit)" placeholder="Body" rows="3" required></textarea>
                <br/>
                <label for="groupAttachments" class="groupAttachments">Attachments (separated by "," or "|")</label>
                <input id="groupAttachments" class="groupAttachments" type="text" name="attachments" disabled="@(!Permissions.Mail.Edit)" placeholder="ex: currency soft_currency 1500 | hero warlord">
                <br/>
                <label for="groupVisibleFrom" class="groupVisibleFrom">Visible From (UTC)*</label>
                <input id="groupVisibleFrom" class="groupVisibleFrom" name="visibleFrom" type="datetime-local" disabled="@(!Permissions.Mail.Edit)" value="@ViewData["Today"]" required>
                <br/>
                <label for="groupExpiration" class="groupExpiration">Expiration (UTC)*</label>
                <input id="groupExpiration" class="groupExpiration" name="expiration" type="datetime-local" disabled="@(!Permissions.Mail.Edit)" value="@ViewData["Week"]" required>
                <br/>
                <label for="groupIcon" class="groupIcon">Icon</label>
                <select id="groupIcon" class="groupIcon" name="icon" disabled="@(!Permissions.Mail.Edit)" placeholder="Icon">
                    <option value="">default (empty)</option>
                    <option value="atlas-icons[pvp]">atlas-icons[pvp]</option>
                </select>
                <br/>
                <label for="groupBanner" class="groupBanner">Banner</label>
                <select id="groupBanner" class="groupBanner" name="banner" disabled="@(!Permissions.Mail.Edit)" placeholder="Banner">
                    <option value="">default (empty)</option>
                    <option value="atlas-events[gold_blitz]">atlas-events[gold_blitz]</option>
                    <option value="atlas-dialog_banners[star_rewards_dialog_banner]">atlas-dialog_banners[star_rewards_dialog_banner]</option>
                </select>
                <br/>
                <label for="groupInternalNote" class="groupInternalNote">Internal Note</label>
                <input id="groupInternalNote" class="groupInternalNote" type="text" name="internalNote" disabled="@(!Permissions.Mail.Edit)" placeholder="Internal Note">
                <br/>
                <button id="sendGroupMessageButton" disabled="@(!Permissions.Mail.Edit)" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>