@inherits TowerPortal.Views.Shared.PortalView
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TowerPortal.Models.Permissions
@{
    ViewData["Title"] = "User Permissions";
}
<h2>@ViewData["Title"]</h2>

<h4>Account: @ViewData["Account"]</h4>

<div class="error-container">
    @if (TempData["Failure"] != null)
    {
        <h4 style="color: red">@TempData["Success"]</h4>
    }
    else
    {
        <h4 style="color: darkgreen">@TempData["Success"]</h4>
    }
</div>

<form class="permission-info" method="post" asp-controller="Permission" asp-action="UpdatePermissions" onsubmit="jsonPost(event, this)">
    <input class="invisible" value=@TempData["AccountId"] name="id"/>
    <table class="permissions-table">
        <tr class="env-label">
            <td>Environment</td>
            <td>@ViewData["Environment"]</td>
        </tr>
        @foreach (PermissionGroup group in Permissions.OrderBy(group => group.Name))
        {
            <tr class="permissions-label">
                <td><h3>@(group.Name)</h3></td>
                <td></td>
            </tr>
            foreach (KeyValuePair<string, bool> pair in group.Values)
            {
                <tr class="permissions-label">
                    <td>@pair.Key</td>
                    <td>
                        <input type="checkbox" checked="@(pair.Value)" disabled="@(!Permissions.Portal.SuperUser || !Permissions.Portal.ManagePermissions)" name="@($"{group.Name}.{pair.Key}")"/>
                    </td>
                </tr>
            }
            
        }
    </table>
    <button type="submit">Save</button>
</form>

<script type="text/javascript">
    function jsonPost(event, form) {
        console.log(form)
        event.preventDefault();
        
        let data = {};
        Array.from(form.getElementsByTagName("input")).forEach(function (input) {
            data[input.name] = input.type === "checkbox" 
                ? input.checked 
                : input.value;
            });
        console.log(data);
        $.post("/portal/permission/account", data);
    }
</script>