@inherits TowerPortal.Views.Shared.PortalView
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "User Permissions";
}
<h2>@ViewData["Title"]</h2>

<h4>Account: @ViewData["Account"]</h4>

<div class="error-container">
    @if (TempData["Failure"] != null)
    {
        <h4 style="color: red">@TempData["Success"]</h4>
    }
    else
    {
        <h4 style="color: darkgreen">@TempData["Success"]</h4>
    }
</div>

<form class="permission-info" method="post" asp-controller="Permission" asp-action="Account">
    <input class="invisible" value=@TempData["AccountId"] name="id"/>
    <table class="permissions-table">
        <tr class="env-label">
            <td>Environment</td>
            <td>@ViewData["Environment"]</td>
        </tr>
        @if (Permissions.Portal.SuperUser || Permissions.Portal.ManagePermissions)
        {
            <tr class="permissions-label">
                <td>Manage Permissions</td>
                <td>
                    <input type="checkbox" checked="@(Permissions).Portal.ManagePermissions)" disabled="@(Permissions).Portal.SuperUser || Permissions).Portal.ManagePermissions)" name="managePermissions"/>
                </td>
            </tr>
        }
        <tr class="player-label">
            <td>Player Service</td>
        </tr>
        <tr>
            <td>View Player</td>
            <td>
                <input type="checkbox" checked="@(Permissions).Player.View_Page)" name="viewPlayer"/>
            </td>
        </tr>
        <tr>
            <td>Edit Player</td>
            <td>
                <input type="checkbox" checked="@(Permissions).Player.Edit)" name="editPlayer"/>
            </td>
        </tr>
        <tr class="mailbox-label">
            <td>Mailbox Service</td>
        </tr>
        <tr>
            <td>View Mailbox</td>
            <td>
                <input type="checkbox" checked="@(Permissions).Mail.View_Page)" name="viewMailbox"/>
            </td>
        </tr>
        <tr>
            <td>Edit Mailbox</td>
            <td>
                <input type="checkbox" checked="@(Permissions).Mail.Edit)" name="editMailbox"/>
            </td>
        </tr>
        <tr class="token-label">
            <td>Token Service</td>
        </tr>
        <tr>
            <td>View Token</td>
            <td>
                <input type="checkbox" checked="@(Permissions).Token.View_Page)" name="viewToken"/>
            </td>
        </tr>
        <tr>
            <td>Edit Token</td>
            <td>
                <input type="checkbox" checked="@(Permissions).Token.Edit)" name="editToken"/>
            </td>
        </tr>
        <tr class="config-label">
            <td>Dynamic Config Service</td>
        </tr>
        <tr>
            <td>View Config</td>
            <td>
                <input type="checkbox" checked="@(Permissions).Config.View_Page)" name="viewConfig"/>
            </td>
        </tr>
        <tr>
            <td>Edit Config</td>
            <td>
                <input type="checkbox" checked="@(Permissions).Config.Edit)" name="editConfig"/>
            </td>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>