@using TowerPortal.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "User Permissions";
}
<h2>@ViewData["Title"]</h2>

<h4>Account: @ViewData["Account"]</h4>

<div class="error-container">
    @if (TempData["Failure"] != null)
    {
        <h4 style="color: red">@TempData["Success"]</h4>
    }
    else
    {
        <h4 style="color: darkgreen">@TempData["Success"]</h4>
    }
</div>

<form class="permission-info" method="post" asp-controller="Permission" asp-action="Account">
    <input class="invisible" value=@TempData["AccountId"] name="id"/>
    <table class="permissions-table">
        <tr class="env-label">
            <td>Environment</td>
            <td>@ViewData["Environment"]</td>
        </tr>
        @if (ViewData.GetPermissions().Admin || ViewData.GetPermissions().ManagePermissions)
        {
            <tr class="permissions-label">
                <td>Manage Permissions</td>
                <td>
                    <input type="checkbox" checked="@(((Permissions) ViewData["UserPermissions"]).ManagePermissions)" disabled="@((((Permissions) ViewData["UserPermissions"]).Admin) || (((Permissions) ViewData["UserPermissions"]).ManagePermissions))" name="managePermissions"/>
                </td>
            </tr>
        }
        <tr class="player-label">
            <td>Player Service</td>
        </tr>
        <tr>
            <td>View Player</td>
            <td>
                <input type="checkbox" checked="@(((Permissions) ViewData["UserPermissions"]).ViewPlayer)" name="viewPlayer"/>
            </td>
        </tr>
        <tr>
            <td>Edit Player</td>
            <td>
                <input type="checkbox" checked="@(((Permissions) ViewData["UserPermissions"]).EditPlayer)" name="editPlayer"/>
            </td>
        </tr>
        <tr class="mailbox-label">
            <td>Mailbox Service</td>
        </tr>
        <tr>
            <td>View Mailbox</td>
            <td>
                <input type="checkbox" checked="@(((Permissions) ViewData["UserPermissions"]).ViewMailbox)" name="viewMailbox"/>
            </td>
        </tr>
        <tr>
            <td>Edit Mailbox</td>
            <td>
                <input type="checkbox" checked="@(((Permissions) ViewData["UserPermissions"]).EditMailbox)" name="editMailbox"/>
            </td>
        </tr>
        <tr class="token-label">
            <td>Token Service</td>
        </tr>
        <tr>
            <td>View Token</td>
            <td>
                <input type="checkbox" checked="@(((Permissions) ViewData["UserPermissions"]).ViewToken)" name="viewToken"/>
            </td>
        </tr>
        <tr>
            <td>Edit Token</td>
            <td>
                <input type="checkbox" checked="@(((Permissions) ViewData["UserPermissions"]).EditToken)" name="editToken"/>
            </td>
        </tr>
        <tr class="config-label">
            <td>Dynamic Config Service</td>
        </tr>
        <tr>
            <td>View Config</td>
            <td>
                <input type="checkbox" checked="@(((Permissions) ViewData["UserPermissions"]).ViewConfig)" name="viewConfig"/>
            </td>
        </tr>
        <tr>
            <td>Edit Config</td>
            <td>
                <input type="checkbox" checked="@(((Permissions) ViewData["UserPermissions"]).EditConfig)" name="editConfig"/>
            </td>
        </tr>
        <tr class="chat-label">
            <td>Chat Service</td>
        </tr>
        <tr>
            <td>View Chat</td>
            <td>
                <input type="checkbox" checked="@(((Permissions) ViewData["UserPermissions"]).ViewChat)" name="viewChat"/>
            </td>
        </tr>
        <tr>
            <td>Edit Chat</td>
            <td>
                <input type="checkbox" checked="@(((Permissions) ViewData["UserPermissions"]).EditChat)" name="editChat"/>
            </td>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>