@{
    ViewData["Title"] = "Search";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <form action="/player/search" method="get">
        <label for="query">Search for user: </label>
        <input type="text" id="query" name="query"/>
        <button type="submit">Search</button>
    </form>
</div>

@if (ViewData["Query"] != null)
{
    <p>Search Query: @ViewData["Query"]</p>
    <p>The following results were found:</p>
    
    <table>
        <tr>
            <td>AccountId</td>
            <td>Username</td>
        </tr>
        @foreach (List<string> data in (List<List<string>>)ViewData["Data"])
        {
            <tr>
                <td>
                    @Html.ActionLink(linkText: @data[0], actionName: "Account", controllerName: "Permission", routeValues: new { id = data[0]}, htmlAttributes: new { id = data[0]})
                </td>
                <td>
                    @data[1]
                </td>
            </tr>
        }
    </table>
}