@{
    ViewData["Title"] = "Player Details";
}
<h2>@ViewData["Title"]</h2>

<h4>Player ID: @ViewData["Id"]</h4>

<p>Username: @ViewData["Username"]</p>
<p>Screenname: @ViewData["Screenname"]</p>
<p>Discriminator: @ViewData["Discriminator"]</p>
<p>Client Version: @ViewData["ClientVersion"]</p>
<p>Date Created: @ViewData["DateCreated"]</p>
<p>Data Version: @ViewData["DataVersion"]</p>
<p>Device Type: @ViewData["DeviceType"]</p>
<p>Last Saved Install Id: @ViewData["LastSavedInstallId"]</p>
<p>Merge Version: @ViewData["MergeVersion"]</p>
<p>Last Changed: @ViewData["LastChanged"]</p>
<p>Last Data Version: @ViewData["LastDataVersion"]</p>
<p>Last Updated: @ViewData["LastUpdated"]</p>


<h4>Raw Data (To be formatted later)</h4>

<h5>Profiles</h5>
<p>@ViewData["Profiles"]</p>

<h6>Items</h6>
<p>@ViewData["Items"]</p>
