@using TowerPortal.Extensions
@{
    ViewData["Title"] = "Player Details";
}
<h2>@ViewData["Title"]</h2>

<h4>Player ID: @ViewData["Id"]</h4>

<div class="error-container">
    @if (TempData["Failure"] != null)
    {
        <h4 style="color: red">@TempData["Success"]</h4>
    }
    else
    {
        <h4 style="color: darkgreen">@TempData["Success"]</h4>
    }
</div>

<div class="player-data-container">
    <div class="player-data-item">
        <p>Username: @ViewData["Username"]</p>
    </div>
    <div class="player-data-item">
        <p>Screenname: @ViewData["Screenname"]</p>
        <form class="edit-player-form" method="post" asp-controller="Player" asp-action="EditScreenname">
            <input class="edit-player-input invisible" type="text" name="accountId" value="@(ViewData["Id"])"/>
            <input class="edit-player-input" type="text" name="editScreenname"/>
            <button class="button" disabled="@(!ViewData.GetPermissions().EditPlayer)" type="submit">Change</button>
        </form>
    </div>
    <div class="player-data-item">
        <p>Discriminator: @ViewData["Discriminator"]</p>
    </div>
    <div class="player-data-item">
        <p>Client Version: @ViewData["ClientVersion"]</p>
    </div>
    <div class="player-data-item">
        <p>Date Created: @ViewData["DateCreated"]</p>
    </div>
    <div class="player-data-item">
        <p>Data Version: @ViewData["DataVersion"]</p>
    </div>
    <div class="player-data-item">
        <p>Device Type: @ViewData["DeviceType"]</p>
    </div>
    <div class="player-data-item">
        <p>Last Saved Install Id: @ViewData["LastSavedInstallId"]</p>
    </div>
    <div class="player-data-item">
        <p>Merge Version: @ViewData["MergeVersion"]</p>
    </div>
    <div class="player-data-item">
        <p>Last Changed: @ViewData["LastChanged"]</p>
    </div>
    <div class="player-data-item">
        <p>Last Data Version: @ViewData["LastDataVersion"]</p>
    </div>
    <div class="player-data-item">
        <p>Last Updated: @ViewData["LastUpdated"]</p>
    </div>
</div>

<h4>Player Wallet</h4>

<div class="player-wallet-container">
    <div class="player-wallet-item">
        <form class="edit-wallet-form" method="post" asp-controller="Player" asp-action="EditWallet">
            <input class="invisible" name="aid" value="@(ViewData["Id"])"/>
            @foreach (WalletCurrency currency in (List<WalletCurrency>) ViewData["WalletCurrencies"])
            {
                <div class="wallet-currency-item">
                    <label class="wallet-currency-item">@currency.CurrencyId</label>
                    <input class="wallet-currency-item" type="number" name="@(currency.CurrencyId)" value="@(currency.Amount)" min="0" step="1" required/>
                </div>
            }
            <button class="button" disabled="@(!ViewData.GetPermissions().EditPlayer)" type="submit">Change</button>
        </form>
    </div>
</div>

<h4>Raw Data (To be formatted later)</h4>

<h5>Profiles</h5>
<p>@ViewData["Profiles"]</p>

<h5>Components</h5>
<p>@ViewData["Components"]</p>

<h5>Items</h5>
<p>@ViewData["Items"]</p>