@using TowerPortal.Extensions
@{
    ViewData["Title"] = "Player Details";
}
<h2>@ViewData["Title"]</h2>

<h4>Player ID: @ViewData["Id"]</h4>

<div class="error-container">
    @if (TempData["Failure"] != null)
    {
        <h4 style="color: red">@TempData["Success"]</h4>
    }
    else
    {
        <h4 style="color: darkgreen">@TempData["Success"]</h4>
    }
</div>

<div class="player-data-container">
    <p>Username: @ViewData["Username"]</p>
</div>
<div class="player-data-container">
    <p>Screenname: @ViewData["Screenname"]</p>
    <form class="edit-player-form" method="post" asp-controller="Player" asp-action="EditScreenname">
        <input class="edit-player-input invisible" type="text" name="accountId" value="@(ViewData["Id"])"/>
        <input class="edit-player-input" type="text" name="editScreenname"/>
        <button class="button" disabled="@(!ViewData.GetPermissions().EditPlayer)" type="submit">Change</button>
    </form>
</div>
<div class="player-data-container">
    <p>Discriminator: @ViewData["Discriminator"]</p>
</div>
<div class="player-data-container">
    <p>Client Version: @ViewData["ClientVersion"]</p>
</div>
<div class="player-data-container">
    <p>Date Created: @ViewData["DateCreated"]</p>
</div>
<div class="player-data-container">
    <p>Data Version: @ViewData["DataVersion"]</p>
</div>
<div class="player-data-container">
    <p>Device Type: @ViewData["DeviceType"]</p>
</div>
<div class="player-data-container">
    <p>Last Saved Install Id: @ViewData["LastSavedInstallId"]</p>
</div>
<div class="player-data-container">
    <p>Merge Version: @ViewData["MergeVersion"]</p>
</div>
<div class="player-data-container">
    <p>Last Changed: @ViewData["LastChanged"]</p>
</div>
<div class="player-data-container">
    <p>Last Data Version: @ViewData["LastDataVersion"]</p>
</div>
<div class="player-data-container">
    <p>Last Updated: @ViewData["LastUpdated"]</p>
</div>

<h4>Raw Data (To be formatted later)</h4>

<h5>Profiles</h5>
<p>@ViewData["Profiles"]</p>

<h6>Items</h6>
<p>@ViewData["Items"]</p>
